<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 30 days"
  ExpiresByType text/plain "access plus 7 days"
  ExpiresByType application/xml "access plus 7 days"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(css|txt|xml)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>

  Header always set X-Frame-Options "SAMEORIGIN"
  Header unset Server
  Header unset ETag
</IfModule>

FileETag None
